[Desktop Entry]
Name=System Updater
Comment=Get your system upto date.
GenericName=Updater
Exec=./update.sh
Icon=./update.png
Terminal=true
StartupNotify=true
Type=Application
Keywords=System;update;updater;install;clean;
Version=1.0
Categories=System;Utility;
